:root {
    --brand-color: #212121;
    --text-color: #757575;
    --accent-color: #2196F3;
    --background-color: #FFFFFF;
    --logo-color: #000000;
    --button-color: #F5F4FA;

    
}

body {
    background-color: var(--background-color);
    color: var(--brand-color);
    font-family: 'Roboto', 'Raleway', sans-serif;
} 

img {
    display: block;
    max-width: 100%;
}

h1,
h2,
h3 {
    margin: 0;
}

p {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    font-family: inherit;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

/* section header */

.header {
    border-bottom: 1px solid #ececec;
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.header-nav {
    display: flex;
}

.logo {
    color: var(--logo-color);

    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: 0.03em;

    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
}

.web {
    color: var(--accent-color);
}

.site-navigation {
    display: flex;
    margin: 0;   
}

.site-navigation > .item:not(:last-child) {
    margin-right: 50px;
}

.site-link {
    color: var(--brand-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.02em;

    display: inline-block;
    padding: 32px 0;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-link:hover,
.site-link:focus {
    color: var(--accent-color);
}

.site-link.current {
    color: var(--accent-color);
    position: relative;
}

.site-link.current::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: -2px;
    left: 0;
    background-color: var(--accent-color);
    border-radius: 4px;
}

/* subsection contacts */

.contacts {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
}

.contacts > .item:first-child {
    margin-right: 30px;
}

.contacts-link {
    color: var(--text-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.02em;
    
    padding: 32px 0;

    display: flex;
    align-items: center;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover,
.contacts-link:focus {
    color: var(--accent-color);
}

.contacts-icon {  
   fill: currentColor;
   margin-right: 10px;
}

/* section hero */

.hero {
    
    margin: 0 auto;
    max-width: 1600px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero.jpg)
    ;
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    padding-top: 200px;
    padding-bottom: 200px;    
}

.hero-container {
    text-align: center;
}

.hero-title {
    color: var(--background-color);
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;

       
    margin: 0 0 30px 0;   
}

.hero-button {
    background-color: var(--accent-color);
    color:  var(--background-color);
    
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.06em;
    border: 0;

    padding: 10px 32px; 
    
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
    background-color: var(--background-color);
    color: var(--accent-color);
}

/* modal */

.backdrop {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(0);
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    width: 528px;
    height: 581px;
     
    background-color: var(--background-color);
    border-radius: 4px;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button {
    position: absolute;
    top: 8px;
    right: 8px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    height: 30px;

    margin: 0;
    
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: inherit;

    cursor: pointer;
}

.close-button:hover .icon-close,
.close-button:focus .icon-close{
    fill: var(--accent-color);
}

.icon-close {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* modal-form */

.modal-title {
    font-size: 20px;
    line-height: 1.15;
    font-weight: 700;
    letter-spacing: 0.03em;

    text-align: center;
    
    margin-bottom: 12px;
}

.form-group {
    position: relative;
    display: flex;
    flex-direction: column;
}

.form-group:not(:last-child) {
    margin-bottom: 10px;
}

.form-label {
    text-align: left;
    margin-bottom: 4px;

    font-size: 12px;
    line-height: 1.16;
    font-weight: 400;
    letter-spacing: 0.03em;

    color: var(--text-color);
}

.form-input {   
    cursor: pointer;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;
    padding: 10px 42px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment {
    height: 120px;
    padding: 12px 16px;

    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    resize: none;
}

.form-input:hover,
.form-input:focus {
    border: 1px solid var(--accent-color);
}

.form-input:hover ~ .form-icon,
.form-input:focus ~ .form-icon {
    fill: var(--accent-color);
}

.form-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.agreement {
    margin-bottom: 30px;
    margin-top: 20px;
}

.agreement-label {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 1.71;
    font-weight: 400;
    letter-spacing: 0.03em;

    color: var(--text-color);
}

.agreement-input {
    appearance: none;
}

.span {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px solid #000000;
    border-radius: 2px;
    width: 16px; 
    height: 15px;

    margin-right: 7px;
} 

.agreement-input:checked + .span {
    background-color: var(--accent-color);
    border-color: var(--accent-color);    
}

.agreement-link {
    color: var(--accent-color);
    text-decoration: underline;
}

.form-button {
    width: 200px;
    height: 50px;
    padding: 0;
    margin-bottom: 19px;
    border-radius: 4px;

    cursor: pointer;
    
    font-size: 16px;
    line-height: 1.87;
    font-weight: 700;
    letter-spacing: 0.06em;

    color: var(--background-color);
    background-color: var(--accent-color);
    
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);  
}


/* section features */

.features-title {
    display: none;
    text-align: center;
}

.features-list {
    display: flex;
    margin: 0;
}

.features-item {
    width: 270px;
}

.features-item:not(:last-child) {
    margin-right: 30px;
} 

.features-box {
    height: 120px;
    background-color: var(--button-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.features-subtitle {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    margin-top: 30px;
    margin-bottom: 10px;
}

.features-text {
    color: var(--text-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
  
    margin: 0;
    padding: 0;
}

/* section action */

.actions {
    padding-top: 0;
}

.actions-title {
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
}

.actions-list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin: 0;
}

.actions-item:not(:last-child) {
    margin-right: 30px;
}

.actions-item {
    width: calc((100% - 2 * 30px) / 3);
    position: relative;
}

.actions-image {
    display: flex;
}

.label {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    width: 100%;
    padding: 27px 0;
    text-align: center;

    background-color: rgba(47, 48, 58, 0.8);
    color: var(--background-color);
    
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

/* section team */

.team {
    background-color: var(--button-color);
}

.team-title {
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
}

.team-item {
    background-color: var(--background-color);
    width: calc((100% - 3 * 30px) / 4);
    border-radius: 0 0 4px 4px;
    
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2),
    0 1px 1px rgba(0, 0, 0, 0.14),
    0 1px 3px rgba(0, 0, 0, 0.12);
}

.team-item:not(:last-child) {
    margin-right: 30px;
}

.team-image {
    display: flex;
}

.team-box {
    text-align: center;
    padding-top: 30px;
}

.team-subtitle {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: 0.03em;

    margin-bottom: 10px;
}

.team-text {
    color: var(--text-color);
    
    font-size: 16px;
    font-weight: 400;
    line-height: 1.18;
}

.icon-list {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    padding-bottom: 30px;
}

.icon-item:not(:last-child) {
    margin-right: 10px;
}

.icon-link:hover .team-icon,
.icon-link:focus .team-icon {
    fill: var(--background-color);   
}

.icon-link {
    border-radius: 50%;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link:hover,
.icon-link:focus {
    background-color: var(--accent-color);
}

.team-icon {
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* section clients */

.clients-title {
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 50px;
}

.clients-list {
    display: flex;
    justify-content: space-between;   
}

.clients-item:not(:last-child) {
    margin-right: 30px;  
}

.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon{
    fill: var(--accent-color);  
}

.clients-link:hover,
.clients-link:focus {
    border-color: var(--accent-color);
}

.clients-link {
    display: flex;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    width: 170px;
    justify-content: center;
    align-items: center;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-icon {
    fill: #AFB1B8;
    
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* next page/section portfolio */

.portfolio-title {
    display: none;
}

.button-list {
    display: flex;
    justify-content:center;
    margin-bottom: 50px;
    margin-top: 0;
    padding-left: 0;   
}

.button-item:not(:last-child) {
    margin-right: 8px;
}
.button-link {
    background-color: var(--button-color);
    color: var(--brand-color);
    border: 0;
    
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
    border-radius: 4px;
    letter-spacing: 0.03em;
       
    padding: 6px 20px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.button-link:hover,
.button-link:focus {
    box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1),
    0 1px 2px rgba(0, 0, 0, 0.08),
    0 2px 2px rgba(0, 0, 0, 0.12);

    background-color: var(--accent-color);
    color: var(--background-color);

    border: 0;
}

.works-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    padding: 0;
}

.works-item:not(:nth-child(3n)) {
    margin-right: 30px;
}

.works-item:not(:nth-child(n + 7)) {
    margin-bottom: 30px;
}

.works-link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.works-link:hover,
.works-link:focus {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.works-link:hover .overlay-text {
    transform: translateX(0);
}

.works-overlay {
    position: relative;
    overflow: hidden;
}

.overlay-text {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 63px 24px;
    text-align: left;

    background-color: rgba(33, 149, 243, 0.9);
    color: var(--background-color);

    font-size: 18px;
    font-weight: 400;
    line-height: 1.55;
    letter-spacing: 0.03em;

    transform: translateY(101%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.works-box {
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;

    padding: 20px 24px;
}

.works-image {
    display: block;
}

.works-subtitle {
    font-size: 18px;
    line-height: 2;
    margin-bottom: 4px;
    letter-spacing: 0.06em;
}

.works-text {
    color: var(--text-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.87;
    letter-spacing: 0.03em;
}

/* section footer */

.footer {
    background-color: #2F303A;
}

.footer-container {
    display: flex;
}

.address-container {
    margin: 60px 0;
    width: 231px;
}

.footer-logo {
    color: var(--background-color);
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.03em;

    margin-bottom: 20px;
}

.address-list {
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;

    margin: 20px 0 0 0;
    padding-left: 0;
}

.address-item:not(:last-child) {
    margin-bottom: 9px;
}

.address-link {
    color: var(--background-color);
    letter-spacing: 0.03em;
    
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list .link {
    color: rgba(255, 255, 255, 0.6);
    letter-spacing: 0.03em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
    color: var(--accent-color);
}

.address-list .link:hover,
.address-list .link:focus {
    color: var(--accent-color);
}

/* subsection footer-box */

.footer-box {
    height: 80px;
    margin: 72px 93px 100px 70px;
}

.box-title {
    color: var(--background-color);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
}

.box-list {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.box-item:not(:last-child) {
    margin-right: 10px;
}

.box-link:hover .box-icon,
.box-link:focus .box-icon {
    fill: var(--background-color);
}

.box-link {
    border-radius: 50%;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.box-link:hover ,
.box-link:focus {
    background-color: var(--accent-color);
}

.box-icon {
    fill: var(--background-color);
}

/* subsection footer form */

.footer-form {
    display: flex;
    
    align-items: flex-end;

    margin-top: 72px;
    margin-bottom: 94px;
    width: 570px;
}

.footer-form__group {
    display: flex;
    flex-direction: column;
    margin-right: 12px;
}

.footer-form__label {
    margin-bottom: 20px;

    text-transform: uppercase;

    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;

    color: var(--background-color);
}

.footer-form__input {
    background-color: inherit;
    width: 358px;
    padding: 15px 16px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    color: var(--background-color);
}

.footer-form__button {
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    width: 200px;
    height: 50px;
    background-color: var(--accent-color);
    color: var(--background-color);

    padding: 0;
    border: 0;
    border-radius: 4px;

    font-size: 16px;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.06em;
}

.footer-form__icon {
    margin-left: 10px;
}